<div class="header">
<div class="nav">
      <div class="container">
        <ul>
          <a href="welcome"> <li>Welcome</li></a> 
         <a href="portfolio"><li>Portfolio</li></a> 
         <a href="blog"><li>Blog</li></a>
          <a href="about"><li>About</li></a>
          <a href="contact"><li>Contact</li></a>
          </ul>
      </div>
    </div>

<div class="main">
    <div class="container">
      
<p>
  Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and nested model forms.  </p>

</div>
</div>

<div class="footer">
      <div class="container">
 <div>Icons made by
   <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, 
   <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>,
   <a href="http://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> 
   from  <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
   is licensed by 
   <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
 </div>
<p>&copy; 2015 Saravanan Vasu</p>
 </div>
 </div>